-
  var texts = [
    'Каким быть музею Высоцкого, решалось в ходе проектного семинара, организованного Дирекцией по созданию культурного центра-музея, 24 – 31 января 1990 года в Щелыкове Советским фондом культуры и ЦК ВЛКСМ. Тогда же была выработана структура музея, а так же подытожены данные анкетирования населения, проведенного Дирекцией совместно с Институтом социологии АН СССР. На вопрос: «Каким быть музею Высоцкого?» - большинство ответили, что он должен быть многофункциональным (музей, культурный и научный центр), а имя ему выбрали: «Дом Высоцкого на Таганке».',    'В начале июля 1990 г. группа штатных сотрудников Дирекции по созданию музея пришла в дом № 3 Нижнего Таганского тупика, в квартиру № 2, откуда должны были выехать жильцы (дом уже несколько лет был списан с жилого фонда). Квартира была заперта, зато во дворе увидели стену, ту самую, что была запечатлена на пленке итальянского телевидения (и которая ошибочно связывалась с Большим Каретным). Однако фотографии Владимира Мурашко подтвердили догадку. Это именно тот дом! Решение было принято. Музей должен быть именно здесь: ведь Высоцкий писал именно о таком доме: дом стоит на склоне обрыва, «всеми окнами обращен в овраг, а воротами на проезжий тракт» – именно на проезжий, хотя и называется: тупик. Под обрывом – банька (Тетеринские бани). Да, в этом доме Высоцкий не жил, не работал, здесь не было его личных вещей, но этот дом, двор, тупик, обрыв – образ той Москвы, которую он заметил и описал, образ его песен, его пути – наперекор всему, через любые тупики, вдоль любых обрывов.',
    'Первой акцией Музея была выставка к десятилетию кончины Владимира Высоцкого: «Высоцкий в контексте Русской культуры» (автор концепции А. Гостев, художник – А. Тавризов). Выставка размещалась в зале Фонда Культуры СССР (Музей еще не имел своего помещения), а затем на ВДНХ. Ее посетили более 3000 человек. А в 1992 году был создан Государственный культурный центр-музей В.С.Высоцкого "Дом Высоцкого на Таганке".',
    'В 1996 году его директором стал Никита Владимирович Высоцкий, сын поэта. Тогда же музей приступил к полной реконструкции и ремонту здания и освоению всех принадлежащих ему помещений.',
    'Сегодня ГКЦМ В.С.Высоцкого – это культурный и научный центр, занимающийся сбором, изучением материалов, отражающих жизнь, творчество Владимира Высоцкого, эпоху, в которую он жил. Двери музея открыты для всех, кому дорого имя поэта, его стихи, песни, роли.',
    'Первой акцией Музея была выставка к десятилетию кончины Владимира Высоцкого: «Высоцкий в контексте Русской культуры» (автор концепции А. Гостев, художник – А. Тавризов). Выставка размещалась в зале Фонда Культуры СССР (Музей еще не имел своего помещения), а затем на ВДНХ. Ее посетили более 3000 человек. А в 1992 году был создан Государственный культурный центр-музей В.С.Высоцкого "Дом Высоцкого на Таганке".',
    'В 1996 году его директором стал Никита Владимирович Высоцкий, сын поэта. Тогда же музей приступил к полной реконструкции и ремонту здания и освоению всех принадлежащих ему помещений.',
    'Сегодня ГКЦМ В.С.Высоцкого – это культурный и научный центр, занимающийся сбором, изучением материалов, отражающих жизнь, творчество Владимира Высоцкого, эпоху, в которую он жил. Двери музея открыты для всех, кому дорого имя поэта, его стихи, песни, роли.',
  ]
  var links = [
    'История музея',
    'Вопрос-ответ',
    'Временные выставки',
    'Новости Музея',
    'Публикации',
    'Афиша',
    'События',
    'Контакты'
  ]

+b.SECTION.story-content.container
  +e.left
    p=texts[0]
    blockquote Спасение в том, что сумели собраться на площадь не сборищем сброда, спешащим глазеть на Нерона, а стройным собором собратьев, отринувших пошлость.
      cite (Белла Ахмадулина)
    p=texts[1]
    include story-slider-second
    p=texts[2]
    p=texts[3]
    p=texts[4]
    +e.video
      +e.VIDEO.player(src="./video/video-placeholder.mp4" type="video/mp4" controls)
      +e.controls
        +e.SPAN.playpause
    p=texts[5]
    p=texts[6]
    p=texts[7]
    +e.A.link(href="#") Подробнее
  +e.right
    +e.block
      +e.wrapper
        +e.BUTTON.btn.btn(type="button") Купить билет
        +e.UL.list
          for i in links
            +e.LI.item
              +e.A(href="#")= i
    +e.block
